$backgroundGray :#FBFBFB;
$textGray: #74798C;

$barChartRed : #E60000;
$chartBlack : #282D30;

$backgroundIconeCalories: rgba(255, 0, 0, 0.1);
$backgroundIconeProteines: #4AB8FF1A;
$backgroundIconeGlucides: rgba(249, 206, 35, 0.1);
$backgroundIconeLipides: #FD51811A;